<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
            <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
            <style>
                .btn-login {
                    font-size: 0.9rem;
                    letter-spacing: 0.05rem;
                    padding: 0.75rem 1rem;
                    background-color: #ffc800;
                }
            </style>
    </head>

    <body>
        <div class="m-4">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand">
                        <img src="/images/lion_caption.png" height="60" alt="Lion">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            
                        </div>
                        <div class="navbar-nav ms-auto"></div>
                            <a href="#" class="navbar-brand">
                                <img src="/images/ind_flag.jpg" height="60" alt="Flag">
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <form method="post" action="/adminForgotPassword">
            <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                    <h3 class="card-title text-center mb-5  fs-5" ><b>ADMIN FORGOT PASSWORD</b></h3>
                        <p style="color: red;"><%= msg %></p>
                        <p style="color: green;"><%= success %></p>
                        <div class="form-floating mb-3">
                            <input type="text" id="adminid" name="adminid" class="form-control"  placeholder="ID">
                            <label for="adminid">Admin ID</label>
                        </div>
                        <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                        <label for="email">Email address</label>
                        </div>
                        <div class="d-grid mb-2">
                            <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit" class="btn btn-warning btn-lg ms-2">LogIn</button>
                        </div>

                        <div class="d-flex justify-content-end pt-3">
                            <span ><a href="adminLogin">Back to Login</a></span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </form>
    </body>
</html>
