<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
        <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/979879318/?random=1653674124463&amp;cv=9&amp;fst=1653674124463&amp;num=1&amp;label=uIBJCPv423AQlouf0wM&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=720&amp;u_w=1280&amp;u_ah=672&amp;u_aw=1280&amp;u_cd=24&amp;u_his=3&amp;u_tz=330&amp;u_java=false&amp;u_nplug=5&amp;u_nmime=2&amp;gtm=2wg5p1&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fmdbootstrap.com%2Fdocs%2Fstandard%2Fextended%2Fregistration%2F&amp;ref=https%3A%2F%2Fwww.google.com%2F&amp;tiba=Bootstrap%20Registration%20form%20-%20free%20examples%20%26%20tutorial&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/script.js"></script>
        <title>User Register</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <style>
            /* body {
            /* background: #ffc800; 
            /* background: linear-gradient(to right, #0062E6, #33AEFF); 
            } */

            .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
            background-color: #ffc800;
            }
        </style>
    </head>
    <body>
        <div class="m-4">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand">
                        <img src="/images/lion_caption.png" height="60" alt="Lion">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            
                        </div>
                        <div class="navbar-nav ms-auto"></div>
                            <a href="#" class="navbar-brand">
                                <img src="/images/ind_flag.jpg" height="60" alt="Flag">
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <form action="/user/register" method="POST" autocomplete="off">
            <div class="container ">
            <div class="row dflex justify-content-center align-items-center h-100">
                <div class="col-6">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                    <h3 class="card-title text-center mb-5  fs-5" ><b>USER REGISTER</b></h3>
                        
                        <div class="form-floating mb-3">
                            <input type="text" id="birth" name="birth" class="form-control"  placeholder="UID">
                            <label for="birth">Aadhar Number</label>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-floating mb-3">
                                    <input type="text" id="first_name" name="first_name" class="form-control"  placeholder="UID">
                                    <label for="first_name">First Name</label>
                                </div>        
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-floating mb-3">
                                    <input type="text" id="last_name" name="last_name" class="form-control"  placeholder="UID">
                                    <label for="last_name">Last Name</label>
                                </div>        
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-floating mb-3">
                                    <input type="text" name="father_name" id="father_name" class="form-control"  placeholder="UID">
                                    <label for="father_name">Father Name</label>
                                </div>        
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-floating mb-3">
                                    <input type="text" id="mother_name" name="mother_name" class="form-control"  placeholder="UID">
                                    <label for="mother_name">Mother Name</label>
                                </div>        
                            </div>
                        </div>



                        <div class="form-floating mb-3">
                            <input type="text" name="mobile" id="mobile" class="form-control"  placeholder="UID">
                            <label for="mobile">Phone Number</label>
                        </div>

                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                            <p class="mb-0 me-4">Gender </p>

                            <div class="form-check form-check-inline mb-0 me-4">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="Female" required/>
                                <label class="form-check-label" for="female">Female</label>
                            </div>

                            <div class="form-check form-check-inline mb-0 me-4">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="Male" required/>
                                <label class="form-check-label" for="male">Male</label>
                            </div>

                            <div class="form-check form-check-inline mb-0">
                                <input class="form-check-input" type="radio" name="gender" id="other" value="Other" required/>
                                <label class="form-check-label" for="other">Other</label>
                            </div>

                        </div>

                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                            <p class="mb-0 me-4">Date of Birth </p>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="date" name="dob" id="dob" class="form-control form-control-lg" required/>
                                </div>
                            </div>
                        </div>

                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                            <p class="mb-0 me-4">Marital Status </p>
                            <div class="col-md-6 mb-4">
                                <select class="select form-control-lg" id="marital" name="marital" required>
                                    <option name="marital" value="Select your Marital Status" disabled>Marital Status</option>
                                    <option name="marital" value="Married">Married</option>
                                    <option name="marital" value="UnMarried">UnMarried</option>
                                    <option name="marital" value="Divorced">Divorced</option>
                                    <option name="marital" value="Widowed">Widowed</option>
                                </select>
                            </div>
                        </div>

                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                            <p class="mb-0 me-4">Employement Mode </p>
                            <div class="col-md-6 mb-4">
                                <select class="select form-control-lg" id="employment" name="employment" required>
                                    <option name="employment" value="Employment Mode" disabled>Employement Mode</option>
                                    <option name="employment" value="Private">Private</option>
                                    <option name="employment" value="Public">Public</option>
                                    <option name="employment" value="Student">Student</option>
                                    <option name="employment" value="Other">Other</option>
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
                              <div class="form-outline">
                                <select class="select form-control-lg" id="stateSel" name="stateSel" size="1" required>
                                    <option value="" selected="selected">Select State</option>
                                </select>
                              </div>
            
                            </div>
                            <div class="col-md-6 mb-4 pb-2">
                              <div class="form-outline">
                                <select class="select form-control-lg" name="districtSel" id="districtSel" size="1" required>
                                    <option value="" selected="selected">Select State first</option>
                                </select>
                              </div>
            
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="address" id="address" placeholder="name@example.com">
                            <label for="address">Address</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" name="pincode" id="pincode" class="form-control"  placeholder="UID">
                            <label for="pincode">Pincode</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                            <label for="email">Email address</label>
                        </div>


                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="passwordd" name="passwordd" placeholder="New Password">
                            <label for="passwordd">Password</label>
                        </div>

                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                            <p class="mb-0 me-4">Secret Question </p>
                            <div class="col-md-6 mb-4">
                                <select class="select form-control-lg" id="secret_hint" name="secret_hint" required>
                                    <option name="secret_hint" value="Select your Secret Question" disabled>Secret Question</option>
                                    <option name="secret_hint" value="teacher">Who is your favourite Teacher?</option>
                                    <option name="secret_hint" value="school">What is your first school?</option>
                                    <option name="secret_hint" value="place">What is your favourite place?</option>
                                    <option name="secret_hint" value="pet">What is your pet name?</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" id="secret_code" name="secret_code" class="form-control"  placeholder="Secret Code">
                            <label for="secret_code">Enter your Secret Answer</label>
                        </div>
                        <div class="d-grid mb-2">
                            <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit" class="btn btn-warning btn-lg ms-2">Register</button>
                        </div>
                        <div class="d-flex justify-content-end pt-3">
                            <span >Already have an account? <a href="userLogin">Login Here</a></span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </form>
      </body>
</html>
